
<div class="row">
    <div class="col">
        <app-big-card titleBig="Projetos principais" photoBig="../assets/Sem título.jpg" descriptionBig="Projeto de Front-End do curso de Análise e Desenvolvimento de Sistemas. Neste projeto eu destaco o uso do Bootstrap como framework para desenvolver um Front responsivo. Também é utiizado uma Api de busca de Cep no formulário de cadastro.
        "></app-big-card>
    </div>

    <div class="col">
         <div class="row">
            <a href="https://vercel.com/guilhermebeloni/angular-blog" target="_blank"><app-small-card  descriptionSmall="Este é um prejeto desenvolvido em angular, totalmente componentizado (BootCamp DIO)." photoSmall="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"></app-small-card></a>
        </div>
        <div class="row">
            <a href="https://snack.expo.dev/@guilhermebelonidev/projetorst" target="_blank"><app-small-card descriptionSmall="Este outro é um prejeto desenvolvido em React Native pela plataforma Snack." photoSmall="https://ionicframework.com/docs/icons/logo-react-icon.png"></app-small-card></a>
        </div>
        
    </div>
   
</div>
