/* You can add global styles to this file, and also import other style files */
* {
    /*background-color: #013038;*/
    color: #262a2e;
    padding: 0;
    margin: 0;
    font-family: 'amatic sc', sans-serif;
    box-sizing: border-box;
    
  
}



